.newsletter {
    background-color: var(--cor-destaque-secundario);
    padding: 40px 12.5%;
    display: grid;
    justify-content: center;
    margin-top: 40px;
}

.newsletter__titulo {
    font-size: 31px;
    font-weight: 700;
    line-height: 37.2px;
    text-align: center;
    font-family: var(--fonte-titulo);
    color: var(--cor-titulo-secundario);
    margin-bottom: 24px;
}

.newsletter__texto {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    align-items: center;
    font-family: var(--fonte-texto);
    color: var(--cor-titulo-secundario);
    margin-bottom: 32px;
}

.newsletter__container {
    display: inline-grid;
    grid-template-columns: 1fr auto;
    gap: 16px;
   
}

.newsletter__input {
    width: 100%;
    grid-column: 1;
    padding: 16px 24px;
    border-radius: 32px;
    border: 2px solid var(--cor-links);
    background-color: transparent;
}

.newsletter__input::placeholder {
    color: var(--cor-links);
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-family: var(--fonte-texto);
    align-items: center;
}

.newsletter__botao {
    grid-column: 2;
    padding: 16px 24px;
    border-radius: 32px;
    border: none;
    background-color: var(--cor-fundo-botao);
    color: #FFFFFF;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-family: var(--fonte-texto);
    cursor: pointer; 
}

@media screen and (max-width: 768px) {
    .newsletter__container {
        display: inline;
    }

    .newsletter__container_input {
        margin-bottom: 16px;
    }

    .newsletter__botao {
      width: 100%;
      margin-top: 16px;
    }
}